<form  class="form-layout"  (ngSubmit)="onSubmit()" [formGroup]="applyRefund">
  <div  class="three-detail">
    <div fxLayout="column" class="refundWin">
      <md-input-container floatPlaceholder="never"  horizontal="true">
        <input mdInput placeholder="平台单号"  formControlName="orderNo"  name="orderNo" [(ngModel)]="model.orderNo"
               (change)="loseFocus($event)"  required/>
      </md-input-container>
      <md-input-container floatPlaceholder="never"  horizontal="true">
        <input mdInput placeholder="可退金额" formControlName="availableFee" required />
      </md-input-container>

      <md-input-search placeholder="商户名称" name="merchantNo" required id="merchantNo" formControlName="merchantNo" floatPlaceholder="never" [(ngModel)]="model.merchantNo" horizontal="true"
                       [onBeforClick]="merchantBeforClickFunc.bind(this)"
                       [dataSource]="merchantDataSource"
                       [displayFn]="merchantDisplayFn"
                       [optionDisplayFn]="merchantOptionDisplayFn"
                       [filterField]="merchantFilterFields"
                       valueField="merchantNo"
      >
      </md-input-search>
      <md-input-container floatPlaceholder="never"  horizontal="true">
        <input mdInput placeholder="退款金额"   formControlName="refundFee" (change)="checkRefundFee($event)"  name="refundFee" [(ngModel)]="model.refundFee" required/>
      </md-input-container>

      <md-input-container horizontal="true" floatPlaceholder="never">
        <textarea mdInput placeholder="退款事由" name="mchRefuseReason" formControlName="mchRefuseReason" [(ngModel)]="model.mchRefuseReason" required></textarea>
      </md-input-container>
    </div>
  </div>
  <div class="btn-area text-center" >
    <button md-raised-button color="primary" [disabled]="!applyRefund.valid">保存</button>
  </div>
  </form>




