<md-card class="mdcard-margin-bottom search-panel">
  <form (submit)="onSearch()">
    <md-card-content>
      <md-input-container >
        <input mdInput   placeholder="openId" id="openId" name="openId" [(ngModel)]="form.openId"/>
      </md-input-container >
      <md-input-container >
        <input mdInput placeholder="appid"  id="appid" name="appid" [(ngModel)]="form.appid" />
      </md-input-container>
      <button md-raised-button   color="primary"  type="submit" >查询</button>
      <button md-raised-button   type="button" *ngIf="helper.btnRole('TRADEBLACKUSERADD')" (click.stop)="openAddWin($event)">新增</button>
      <button md-raised-button   type="button" *ngIf="helper.btnRole('TRADEBLACKUSERIMPORT')" (click.stop)="openImportWin($event)">导入</button>
    </md-card-content>
  </form>
</md-card>
<md-card class="mdcard-margin-bottom">
  <md-table-extend #TradeBlackuserTable [columns]="TradeBlackuserColumns" [database]="tradeBlackuserListDB" isShowOddEffet="true" [actionCfg]="tableActionCfg"></md-table-extend>
</md-card>

