<form class="detail-config-item">

  <!--交易限额配置-->
  <fieldset *ngIf="helper.btnRole('MCHSETTOTALFEELIMIT')">
    <legend>
      <span>交易限额配置</span>
      <a (click.stop)="onEditTradeLimit()">配置</a>
    </legend>
    <ulo-detail #mchTradeLimitDetail [detailFields]="mchTradeLimitFields" [(reqParams)]="mchTradeLimitReqParam" hasGroup="false"></ulo-detail>
  </fieldset>
  <!--公钥配置-->
  <fieldset *ngIf="helper.btnRole('MCHSETRSAKEYCONFIG')">
    <legend>
      <span>公钥配置</span>
      <a (click.stop)="onSetOrgRsakey()">配置</a>
    </legend>
    <ulo-detail #mchRsakeyDetail [detailFields]="rsakeyParamFields" [(reqParams)]="rsakeyParam" hasGroup="false"></ulo-detail>
  </fieldset>
  <div class="btn-area text-center">
    <button md-raised-button type="button"  color="primary" (click.stop)="onBefore()">返回上一步</button>
    <button md-raised-button type="button"  color="primary" (click.stop)="onSaveInfoConf()">保存并提交</button>
  </div>
</form>

