<form (ngSubmit)="onSubmit()">
  <div  fxLayout="row">
    <div class="column" fxLayout="column" fxFlex="10">
      <span>请选择该角色菜单权限<span style="color: red;">*</span></span>
      <span>（可多选）</span>
    </div>
    <div class="column" fxLayout="column" fxFlex="50">
      <md-tree #modelTree  [value]="funcTrees"  selectionMode="checkbox"
               (selectionChange)="onNodeSelectHeadler($event)" (onNodeUnselect)="onNodeUnSelectHeadler($event)"
      ></md-tree>
    </div>
  </div>
  <div  class="btn-area text-center">
    <button md-raised-button [disabled]="hasDisabled()"  type="button"  color="primary" (click.stop)="onNextSetp()">关联功能权限</button>
    <button md-raised-button  [disabled]="hasDisabled()"  color="primary" >仅保存</button>
    <button  md-raised-button type="button"  (click.stop)="Cancel()">返回</button>
  </div>
</form>


