<md-card class="mdcard-margin-bottom search-panel">
  <form #checkAccountSearchForm="ngForm" (submit)="onSearch()">
    <md-card-content>
    <md-input-group isDateTimeGroup="true"
                    firstPlaceholder="起始日期"
                    lastPlaceholder="结束日期"
                    [(firstField)]="form.searchStartTime"
                    [(lastField)]="form.searchEndTime"
                    [dateOpts]="dateOpts"
                    firstName="searchStartTime"
                    lastName="searchEndTime">
    </md-input-group>
    <md-input-search placeholder="结算账户" name="ally" id="ally" [(ngModel)]="form.ally"
                     [onBeforClick]="cashCompanionbeforClickFunc.bind(this)"
                     [dataSource]="cashCompanionDataSource"
                     [displayFn]="cashCompaniondisplayFn.bind(this)"
                     (onSelected)="allySelected($event)"
                     [optionDisplayFn]="cashCompanionOptionDisplayFn"
                     [filterField]="cashCompanionFilterFields"
                     valueField="companion">
    </md-input-search>
    <md-select placeholder="对账状态" name="reconState" [(ngModel)]="form.reconState" class="intoPieces-pt">
      <md-option value="">全部</md-option>
      <md-option *ngFor="let checkState of checkStates" [value]="checkState?.id">
        {{ checkState?.name }}
      </md-option>
    </md-select>
    <button md-raised-button type="submit" color="primary">查询</button>

    </md-card-content>
  </form>
</md-card>
<div class="count-wrap mdcard-margin-bottom">
  <md-card class="count-item">
    <div class="count-title">交易总数（笔）</div>
    <div class="count-content">
      <i class="number">{{ summaryCount?.totalQua || 0 }}</i>
    </div>
  </md-card>
  <md-card class="count-item">
    <div class="count-title">交易金额（元）</div>
    <div class="count-content">
      <div class="num-wrap">
        <i>{{ helper.priceFormat(summaryCount?.totalFee || 0) }}</i>
      </div>
    </div>
  </md-card>
  <md-card class="count-item">
    <div class="count-title">退款总数（笔）</div>
    <div class="count-content">
      <i>{{ summaryCount?.refundQua || 0 }}</i>
    </div>
  </md-card>
  <md-card class="count-item">
    <div class="count-title">退款金额（元）</div>
    <div class="count-content">
      <div class="num-wrap">
        <i>{{ helper.priceFormat(summaryCount?.refundFee || 0) }}</i>
      </div>
    </div>
  </md-card>
  <md-card class="count-item">
    <div class="count-title">异常总数（笔）</div>
    <div class="count-content">
      <i>{{ summaryCount?.errTotalQua || 0 }}</i>
    </div>
  </md-card>
  <md-card class="count-item">
    <div class="count-title">异常金额（元）</div>
    <div class="count-content">
      <div class="num-wrap">
        <i>{{ helper.priceFormat(summaryCount?.errTotalFee || 0) }}</i>
      </div>
    </div>
  </md-card>
</div>

<md-card>
  <md-table-extend #checkAccountListTable [columns]="checkAccountColumns" [database]="checkAccountListDB" isShowOddEffet="true" [actionCfg]="tableActionCfg"></md-table-extend>
</md-card>
