<form (ngSubmit)="onSubmit()" [formGroup]="staffAdd" >
  <div  class="form-item">
    <div  fxLayout="row">
      <div class="column" fxLayout="column" fxFlex="50">
        <md-input-container horizontal="true">
          <input mdInput placeholder="用户名" formControlName="userName" id="userName" name="userName" [(ngModel)]="model.userName"  required/>
        </md-input-container>
      </div>
      <div class="column" fxLayout="column" fxFlex="50"  *ngIf="showPwd">
        <md-input-container horizontal="true" floatPlaceholder="never">
          <input mdInput placeholder="密码" type="password" formControlName="userPwd" name="userPwd" [(ngModel)]="model.userPwd" required/>
        </md-input-container>
      </div>
    </div>
    <div  fxLayout="row">
      <div class="column" fxLayout="column" fxFlex="50">
        <md-input-container horizontal="true">
          <input mdInput placeholder="员工姓名" formControlName="realName" name="realName" [(ngModel)]="model.realName" required/>
        </md-input-container>
      </div>
      <div class="column" fxLayout="column" fxFlex="50">
        <md-input-container horizontal="true" floatPlaceholder="never">
          <input mdInput placeholder="联系电话" formControlName="phone" name="phone" [(ngModel)]="model.phone" />
        </md-input-container>
      </div>
    </div>
  </div>

    <div class="btn-area text-center">
      <button md-raised-button [disabled]="!staffAdd.valid"   type="button"  color="primary" (click.stop)="onNextSetp()">保存并分配角色</button>
      <button md-raised-button  [disabled]="!staffAdd.valid"  color="primary" >保存</button>
      <button  md-raised-button type="button"  (click.stop)="Cancel()">返回</button>
    </div>
</form>



