<!-- rsa公钥配置 Created by peishen.nie on 2018/1/23. -->
<form class="form-layout" novalidate (ngSubmit)="onSubmit()">
  <div class="three-detail">
    <div fxLayout="column" class="versionWin">
      <md-input-container floatPlaceholder="never" horizontal="true">
        <textarea class="textarea-style-rsakey" mdInput placeholder="公钥" type="string" required [(ngModel)]="rsaPublicKey" name="rsaPublicKey"></textarea>
      </md-input-container>
    </div>
    <div class="btn-area">
      <button md-raised-button color="primary" [disabled]="helper.isEmpty(rsaPublicKey)">保存</button>
    </div>
  </div>
</form>
