<form (ngSubmit)="onSubmit()" [formGroup]="batchnotice">
        <div class="three-detail">
          <div class="column noticeWin" fxLayout="column" >
            <md-input-group required
              isDateTimeGroup="true"
              groupPlaceholder="通知时间"
              firstPlaceholder="开始时间" horizontal="true"
              lastPlaceholder="结束时间" [(firstField)]="model.tradeTimeStart"
              [(lastField)]="model.tradeTimeEnd"
              firstName="tradeTimeStart"
              lastName="tradeTimeEnd"
               [dateOpts]="dateOpts"
            ></md-input-group>



            <md-input-search placeholder="商户名称" name="mchNo" id="mchNo" formControlName="mchNo" [(ngModel)]="model.mchNo" horizontal="true" required
                             floatPlaceholder="never"
                             [onBeforClick]="merchantBeforClickFunc.bind(this)"
                             [dataSource]="merchantDataSource"
                             [displayFn]="merchantDisplayFn"
                             [optionDisplayFn]="merchantOptionDisplayFn"
                             [filterField]="merchantFilterFields"
                             valueField="merchantNo"
                             >
            </md-input-search>

            <md-select placeholder="通知状态" name="notifyState"  formControlName="notifyState" [(ngModel)]="model.notifyState" horizontal="true" floatPlaceholder="never">
              <md-option *ngFor="let State of notifyState" [value]="State?.id" >
                {{ State?.name }}
              </md-option>
            </md-select>
          </div>

          <div class="btn-area text-center">
            <button md-raised-button color="primary" [disabled]="!batchnotice.valid">保存</button>

          </div>
        </div>
</form>

