<div class="form-table">
  <md-table-extend mode="editWin" #channelTable local="true"
                   [editWinOption]="channelEditWinOption"
                   [(columns)]="channelColumns"
                   [database]="channelDB"
                   [actionCfg]="channelActionCfg"
                   (onEditBefore)="onEditAgencyChannel($event)"
                   (onCancel)="onCancelChannel()"
                   (onSave)="onSaveChannel($event)"
                   [saveConfirmFunc]="onBeforeSaveChannel.bind(this)"
  ></md-table-extend>
  <a (click.stop)="onNewChannel(channelTable)">新增</a>
  <div class="btn-area">
    <button md-raised-button type="button" color="primary" (click.stop)="onBack()">返回上一步</button>
    <button md-raised-button type="button" [disabled]="!hasData()" color="primary" (click.stop)="onSaveChannels()">保存并提交</button>
  </div>
</div>


